.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0px 20px;
  background-color: #000;
  width: 100%;
  z-index: 999;
}

.copyleft {
  float: left;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.copyright {
  float: right;
}
