/* -- NAVBAR -- */

.navbar {
  background-color: #333;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
  border-right: 1px solid rgba(200, 200, 200, 0.1);
  border-left: 1px solid rgba(200, 200, 200, 0.1);
}

.navbar a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 14px 16px;
}

.navbar li:hover {
  background-color: rgba(200, 200, 200, 0.3);
}

.nav-active {
  background-color: rgba(100, 100, 100, 0.4);
}
